@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


/* Body */

body {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
}

/* Header */

.menu-bar {
    position: absolute;
    display: flex;
    width: 100%;
    background-color: rgba(15, 80, 90, 0.45);
}

.petit-logo-okto {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 300px;
    height: 55.67px;
}

.imageokto {
    text-align: center;
}

.menu-liens {
    display: flex;
    justify-content: flex-start;
    margin: auto;
}



.menu-liens a {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}


.icones li {
    list-style: none;
    margin: auto;
    color: white;
    margin-right: 15px;
    margin-left: 15px;
}

.icones {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 20px;
    width: 249.781px;
    height: 55.672px;
}

.icones ul {
    display: flex;
    padding: 0;
}

/* Background section 1  */

.bg-waves-okto {
    background-image: url("ressources oktopod/wave-oktopod-web.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.paragraphe {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px;
}

.cap-digi {
    width: 520px;
    height: 375px;
    margin-left: 100px;
    color: white;
}

.contacter {
    font-family: 'Comfortaa', sans-serif;
    color: white;
    background-color: #33A5A6;
    border-radius: 20px;
    border-style: none;
    padding: 15px;
}