@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


/* Body */

li {
    list-style: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
}

.bld-txt {
    font-weight: bold;
}

/* Header */

.menu-bar {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: rgba(15, 80, 90, 0.45);
    z-index: 2;
}

.petit-logo-okto {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 300px;
    height: 55.67px;
}

.imageokto {
    text-align: center;
}

.menu-liens {
    display: flex;
    justify-content: flex-start;
    margin: auto;
}



.menu-liens a {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}


.icones li {
    list-style: none;
    margin: auto;
    color: white;
    margin-right: 15px;
    margin-left: 15px;
}

.icones {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 20px;
    width: 249.781px;
    height: 55.672px;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.178);
}

.icones ul {
    display: flex;
    padding: 0;
}

/* Background section 1  */

.bg-waves-okto {
    background-image: url("ressources oktopod/wave-oktopod-web.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.paragraphe {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 200px;


}

.logo-okto {
    text-shadow: 0px 0px 10px 5px rgb(0 0 0 / 11%);
}

.cap-digi1 {
    width: 520px;
    height: 375px;
    margin-left: 100px;
    color: white;
}

.bouton {
    font-family: 'Comfortaa', sans-serif;
    color: white;
    background-color: #33A5A6;
    border-radius: 20px;
    border-style: none;
    padding: 15px;
}

.flèche-milieu {
    display: flex;
    justify-content: center;
    color: #33A5A6;
    margin: 100px;
}

.suite-ico {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 150px;
}

.ico {
    background-color: white;
    border-radius: 75% 25% 43% 57%/46% 29% 71% 54%;
    box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 11%);
    margin-left: 40px;
    margin-right: 40px;
    padding: 15px;
    width: 140px;
}

/* Background section 2 */

.bg-splash-okto {
    background-image: url("ressources oktopod/oktopod-auvergne-rhone-alpes-e1575307919345.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cap-digi2 {
    position: relative;
    z-index: 1;
    padding-left: 400px;
    padding-right: 400px;
}

.cap-digi2 h2::before {
    content: "CAP SUR LE DIGITAL!";
    position: absolute;
    top: -50px;
    font-size: 67px;
    font-weight: bold;
    z-index: 0;
    color: rgba(51,165,166,.16);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cards1 {
    display: flex;
}

.cards2 {
    display: flex;
}

.crd {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    padding: 35px;
    margin: 20px;
    box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 11%);
    width: 245px;
    height: 383px;
    z-index: 0;
    position: relative;
}

footer {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #0f505b;
}

.links ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.links {
    color: #94b1b6;
    width: 550px;
}

.links li {
    margin-left: 5px;
    margin-right: 5px;
}

.résaux ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.résaux {
    color: #7b9fa5;
    width: 550px;
}

.résaux li {
    margin-left: 15px;
    margin-right: 15px;
}